.btn-login
{
    -fx-text-fill: #fff;
    -fx-background-color: #2D2D2D;
    -fx-cursor: hand;
}

.btn-login:hover
{
    -fx-background-color: #c10000;
}

#menu
{
    -fx-background-color: #2D2D2D;
}

.btn-menu
{
    -fx-text-fill: #919191;
    -fx-background-color: #2D2D2D;
    -fx-cursor: hand;
}

.btn-menu:hover
{
    -fx-text-fill: #fff;
    -fx-background-color: #c10000;
}

.btn-donors
{
    -fx-text-fill: #fff;
    -fx-background-color: #2D2D2D;
    -fx-cursor: hand;
}

.btn-donors:hover
{
    -fx-background-color: #c10000;
}

